import(Biobase, methods, ggplot2, stats, RColorBrewer, graphics)

importFrom(shiny, runApp)
importFrom(gridExtra, arrangeGrob, gtable_cbind, ellipseGrob, grid.arrange, grid.ellipse, grid.ngon,
           grid.table, marrangeGrob, ngonGrob, polygon_regular, gtable_rbind,
           tableGrob, ttheme_default, ttheme_minimal)

exportClasses(aptaqpcr)

export(ReadAptaqPCR, mean.apt, diff.apt, apt.plot, apt.fit, apt.fit.value,
       tempconc.plot, mean.conf, AptaqPCR.gui)
